<component>
    <div>
        <form>
            <input rid="torrent-hash-input" type="hidden" name="torrentHash" value="">
            <input rid="current-status-input" type="hidden" name="currentStatus" value="">
        </form>
        <div class="progress-wrap">
            <div class="progress-track">
                <div rid="progress-fill" class="progress-fill" style="width: 0%;"></div>
            </div>
            <span rid="progress-percentage">0.0%</span>
            <div class="torrent-grid">
                <p><strong>Total: </strong><span rid="total"></span></p>
                <p><strong>Downloaded: </strong><span rid="downloaded"></span></p>
                <p><strong>Download: </strong><span rid="download-speed"></span></p>
                <p><strong>Upload: </strong><span rid="upload-speed"></span></p>
                <p><strong>Peers: </strong><span rid="peers"></span></p>
                <p><strong>Import Status: </strong><span rid="import-status"></span></p>
            </div>
        </div>
    </div>
</component>