<component>
    <nav class="navbar">
        <div class="nav-logo"><a href="/">Home Media Server</a></div>
        <ul class="nav-links">
            <li><a href="/" data-nav="home" class=" active">Home</a></li>
            <li><a href="/library" data-nav="search" class="">Library</a></li>
            <li><a href="/upload" data-nav="search" class="">Upload</a></li>
            <li><a href="/search" data-nav="search" class="">Search Torrents</a></li>
            <li><a href="/torrents" data-nav="torrents" class="">Torrent Queue</a></li>
        </ul>
    </nav>
</component>