<component>
    <li class="search-result-item">
        <a rid="watch-link" href="">
            <div class="search-result-row">
                <strong rid="title">Grown Ups 2 (2013) [2160p] [4K] [WEB] [5.1] [YTS.MX]</strong>
            </div>
            <div rid="meta" class="search-result-row search-result-meta">
                <span>Seeders: 107</span>
                <span>Leechers: 107</span>
                <span>Size: 4.5 GB 4428</span>
                <span>Category: MOVIE</span>
            </div>
            <!-- <div class="search-result-actions">
                <button type="button" class="secondary-button" data-action="use-result-title"
                    data-title="Grown Ups 2 (2013) [2160p] [4K] [WEB] [5.1] [YTS.MX]">
                    Use Title
                </button>
                <button type="button" data-action="import-result"
                    data-result-key="magnet:?xt=urn:btih:D832341FB5A41F08758DC983133F66912B6D9051&amp;dn=%5BBitsearch.to%5D%20Grown%20Ups%202%20(2013)%20%5B2160p%5D%20%5B4K%5D%20%5BWEB%5D%20%5B5.1%5D%20%5BYTS.MX%5D&amp;tr=udp%3A%2F%2Ftracker2.dler.com%3A80%2Fannounce&amp;tr=udp%3A%2F%2Ftracker.breizh.pm%3A6969%2Fannounce&amp;tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&amp;tr=udp%3A%2F%2Fwww.torrent.eu.org%3A451%2Fannounce&amp;tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&amp;tr=udp%3A%2F%2Ftracker.bitsearch.to%3A1337%2Fannounce">
                    Import
                </button>
            </div> -->
        </a>
    </li>
</component>