<component>
    <div class="video-wrap">
        <video rid="media-player" controls="controls" preload="metadata"
            src="http://localhost:8080/api/stream/files/352b31d5-4587-4a94-8234-f58fc4b5dbbe">
            <track kind="subtitles" label="English"
                src="http://localhost:8080/api/stream/352b31d5-4587-4a94-8234-f58fc4b5dbbe/captions?lang=en&amp;api_key=dev-local-key"
                srclang="en">
            <track kind="subtitles" label="Spanish"
                src="http://localhost:8080/api/stream/352b31d5-4587-4a94-8234-f58fc4b5dbbe/captions?lang=es&amp;api_key=dev-local-key"
                srclang="es">
        </video>
    </div>
    <!-- <div class="caption-controls">
        <label for="caption-select">Closed Captions</label>
        <select id="caption-select">
            <option value="off">Off</option>
            <option value="en">English</option>
            <option value="es">Spanish</option>
        </select>
    </div> -->
</component>